.photoDescription {
    /*width: 200px;*/
    /*height: 30px;*/
    margin: 0 auto;
    box-shadow: 1px 1px 5px;
    text-align: center;
    background-color: #ffbc7d;

    display: flex;
    justify-content: space-around;

}

.content img {
    width: 200px;
    height: 200px;
}

.item {
    color: green;
}